apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: gce-pd-node-labeler-role
  namespace: gce-pd-csi-driver
rules:
- apiGroups: [""]
  resources: ["configmaps"]
  verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: gce-pd-node-labeler-binding
  namespace: gce-pd-csi-driver
subjects:
- kind: ServiceAccount
  name: csi-gce-pd-controller-sa
  namespace: gce-pd-csi-driver
roleRef:
  kind: Role
  name: gce-pd-node-labeler-role
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gce-pd-node-labeler-clusterrole
rules:
- apiGroups: [""]
  resources: ["nodes"]
  verbs: ["get", "list", "watch", "patch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: gce-pd-node-labeler-clusterrolebinding
subjects:
- kind: ServiceAccount
  name: csi-gce-pd-controller-sa
  namespace: gce-pd-csi-driver
roleRef:
  kind: ClusterRole
  name: gce-pd-node-labeler-clusterrole
  apiGroup: rbac.authorization.k8s.io
