apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace:
  gce-pd-csi-driver
resources:
- ../../base/
- psp_controller.yaml
- psp_linux.yaml
- psp_windows.yaml
transformers:
- ../../images/stable-1-22
